body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  margin-bottom: 2px;
  font-weight: bold;
  font-family: "Courier New", monospace;
}

input {
  margin-bottom: 16px
}
label, input{
  display: block;
}